@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/* constant style starts here */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container section {
    margin-bottom: 100px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 35px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

/* constant style ends here  */

/* nav section  */
.logo-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.logo-name span {
    color: #FF5400;
}

.first-section {
    display: flex;
    gap: 16px;
    align-items: center;
}

nav {
    margin-top: 52px;
}

.second-section ul {
    display: flex;
    gap: 44px;
}

.second-section ul li {
    list-style: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header section  */
.header-section {
    margin-top: 50px;
    border-radius: 16px;
    background: url('../Images/Group\ 13\ \(1\)\ \(1\).png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    height: 500px;
    background-blend-mode: overlay;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-container {
    text-align: center;
}

.header-title {
    color: #FFF;
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 800;
}

.text-container {
    padding: 106px 185px;
}

.text-container p {
    padding: 0px 62px 0px 62px;
    color: white;
    margin-bottom: 48px;
}

.form-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 24px;
}

.form-container input,
select {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
    padding-left: 16px;
}

.form-container .btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.form-container select, input {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}