@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/* constant style starts here */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

/* constant style ends here  */

/* nav section  */
.logo-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.logo-name span {
    color: #FF5400;
}

.first-section {
    display: flex;
    gap: 16px;
    align-items: center;
}

nav {
    margin-top: 52px;
}

.second-section ul {
    display: flex;
    gap: 44px;
}

.second-section ul li {
    list-style: none;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}