@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --btn-primary-color: #FF5400;
    --text-color: rgba(19, 19, 24, 0.70);
    --white: white;
}

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/* constant style starts here */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container section {
    margin-bottom: 100px;
}

.btn-primary {
    border-radius: 8px;
    background: var(--btn-primary-color);
    padding: 16px 35px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

/* constant style ends here  */

/* nav section  */
.logo-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.logo-name span {
    color: var(--btn-primary-color)
}

.first-section {
    display: flex;
    gap: 16px;
    align-items: center;
}

nav {
    margin-top: 52px;
}

.second-section ul {
    display: flex;
    gap: 44px;
}

.second-section ul li {
    list-style: none;
}

.second-section-mobile {
    display: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header section  */
.header-section {
    margin-top: 50px;
    background: url('../Images/Group\ 13\ \(1\)\ \(1\).png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    height: auto;
    border-radius: 16px;
    background-blend-mode: overlay;
    width: 100%;

    background-size: contain;
    background-repeat: no-repeat;
}

.text-container {
    text-align: center;
}

.header-title {
    color: var(--white);
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 800;
}

.text-container {
    padding: 106px 185px;
}

.text-container p {
    padding: 0px 62px 0px 62px;
    color: var(--white);
    margin-bottom: 48px;
}

.form-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 24px;
}

.form-container input,
select {
    border-radius: 8px;
    background: var(--white);
    width: 174px;
    height: 52px;
    border: none;
    padding-left: 16px;
}

.form-container .btn-primary {
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.form-container select,
input {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

.button-container button {
    font-size: 20px;
    font-weight: 800;
    color: var(--white);
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
}

/* popular tour section  */

.popular-tour-section {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.tour-first-section h1,
p {
    margin-bottom: 24px;
}

.popular-tour-section .bullet-point ul li {
    list-style-position: inside;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.tour-first-section ul,
.last-section {
    padding-right: 52px;
}

.tour-second-section {
    height: 550px;
}

.tour-second-section img {
    height: 100%;
}



/* destination section  */
.destination {
    height: 300px;
}

.destination-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
}


.destination-text p {
    margin-bottom: 48px;
    width: 643px;
}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.row>div {
    flex: 1;
    position: relative;
    text-align: center;
}

.row h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    font-weight: 800;
    color: var(--white);
    transform: translate(-50%, -50%);
    margin: 0;
}

/* services  */
.choose-us-texts {
    text-align: center;
}

.choose-us-texts h1 {
    margin-bottom: 24px;
}

.choose-us-texts p {
    margin-bottom: 48px;
    padding: 0 264px 0 264px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.box {
    width: calc(50% - 55px - 24px);
    height: auto;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.box img {
    margin-bottom: 32px;
}

#box-2 {
    background: rgba(41, 206, 246, 0.05);
}

.box h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.box p {
    margin-bottom: 0;
}

/* deals and discount section  */
.deals-and-discount-section {
    display: flex;
    text-align: center;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.deals-and-discount-section>p {
    padding: 0 263px 0 263px;
    margin-bottom: 48px;
}

.deals-and-discount-box {
    background: url('../Images/Group\ 39.png');
    height: 500px;
    width: 100%;
    position: relative;
}

#discount-box-2 {
    background: url('../Images/Group\ 40.png');
    height: 500px;
    width: 100%;
}

.deals-and-discount-section {
    display: flex;
    align-items: center;
}

.deals-and-discount-section>.btn-primary {
    padding: 0;
    margin-top: 48px;
    width: 210px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.info-box {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    padding-bottom: 50px;
    top: 50%;
    right: 56px;
    transform: translate(0%, -50%);
}

.deals-text {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.deals-text p {
    width: 452px;
    color: #5A5A5D;
    font-size: 16px;
}

.deals-text h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 26px;
    margin-bottom: 16px;
}

.deals-text h2 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals-text h1,
.deals-text p {
    margin-bottom: 16px;
}

.day,
.location,
.person {
    display: flex;
    gap: 8px;
}

.heading {
    display: flex;
    align-items: center;
    padding: 50px 50px 0px 50px;
    gap: 24px;
}



/* get lost section  */
#popular-section .bullet-point ul li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

#popular-section h1 {
    padding-right: 84px;
    line-height: 60px;
}

#popular-bullet {
    margin-bottom: 32px;
}




@media screen and (max-width:600px) {
    .container {
        max-width: 560px;
        margin: 0 auto;
    }

    .btn-primary {
        padding: 0;
        width: 130px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
    }

    .container section {
        margin-bottom: 24px;
    }

    p {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    h1 {
        font-size: 20px;
    }

    .nav-container {
        padding-left: 20px;
        padding-right: 20px;
    }


    .first-section img {
        width: 28.724px;
        height: 33.516px;
    }

    .logo-name {
        color: #131318;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .second-section {
        display: none;
    }

    .second-section-mobile {
        display: block;
    }

    .header-section {
        margin-top: 17.8px;
        height: calc(483px);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
    }

    .header-title {
        color: #FFF;
        font-size: 22px;
        margin-bottom: 8px;
    }

    .text-container {
        padding: 32px 15px;
    }

    .text-container p {
        color: var(--white);
    }

    .form-container {
        flex-direction: column;
        gap: 16px;

        align-items: center;
    }

    .form-container input {
        width: calc(100% - 16px);
    }

    .form-container select {
        width: 100%;
    }

    .text-container p {
        padding: 0;
        color: var(--white);
        margin-bottom: 32px;
    }

    /* popular section */
    .popular-tour-section {
        padding: 0 20px 0 20px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;
    }

    .tour-first-section h1,
    p {
        margin-bottom: 16px;
    }

    .popular-tour-section .bullet-point ul li {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .tour-first-section p {
        color: var(--text-color);
        text-align: left;
    }

    .tour-first-section ul,
    .last-section {
        padding-right: 20px;
    }

    .tour-first-section h1 {
        font-size: 20px;
    }

    .tour-second-section {
        width: 100%;
        height: auto;
    }

    .tour-second-section img {
        width: 100%;
        height: 100%;
    }

    /* destination section  */
    .row {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    .row div {
        flex: 0 1 auto;
    }

    .row div {
        width: calc(100% - 40px);
        height: 176px;
        margin: auto;
        border-radius: 16px;
    }

    .row img {
        height: 100%;
        width: 100%;
        border-radius: 16px;
        object-fit: cover;
    }

    .row h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .destination-text {
        gap: 16px;
    }

    .destination-text p {
        margin-bottom: 16px;
        width: calc(100% - 66px);
    }

    .destination-text h1 {
        font-size: 20px;
    }

    /* why choose us  */
    .choose-us-texts h1 {
        margin-bottom: 16px;
    }

    .choose-us-texts p {
        margin-bottom: 16px;
        padding: 0 20px 0 20px;
    }

    .services-container {
        flex-direction: column;
        gap: 16px;
        padding: 0 20px 0 20px;
    }

    .box {
        width: auto;
        height: auto;
        padding: 32px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }

    .box p {
        text-align: left;
    }

    .box img {
        margin-bottom: 16px;
    }

    #box-2 {
        background: rgba(41, 206, 246, 0.05);
    }

    .box h2 {
        color: #131318;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 16px;
    }

    .box p {
        margin-bottom: 0;
    }

    /* deals and discount section  */
    .deals-and-discount-section {
        gap: 16px;
        flex-direction: column;
    }

    .deals-and-discount-section>p {
        padding: 0px 20px 0px 20px;
        margin-bottom: 0px;
    }

    .deals-and-discount-box {
        width: calc(100% - 40px);
        border-radius: 16px;
    }

    #discount-box-2 {
        width: calc(100% - 40px);
    }

    .deals-and-discount-section {
        flex-direction: column;
    }

    .deals-and-discount-section>.btn-primary {
        display: none;
    }

    .info-box {
        width: calc(303px - 40px);
        padding: 20px;
        height: auto;
        top: calc(100%);
        right: 50%;
        transform: translate(50%, calc(-100% - 16px));
    }

    .deals-text {
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;
    }
    .deals-text p {
        width: 254px;
        text-align: left;
        font-size: 14px;
    }

    .deals-text h1 {
        font-size: 20px;
        margin-top: 26px;
        margin-bottom: 16px;
    }
    .deals-text h2 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .deals-text .short-text {
        display: block;
    }

    .deals-text .long-text {
        display: none;
    }

    .deals-text h1,
    .deals-text p {
        margin-bottom: 16px;
    }
    .day{
        width: 100%;
    }
    .heading {
        gap: 16px;
        align-items: left;
        padding: 0;
        gap: 16px;
        flex-wrap: wrap;
    }


    /* get lost section  */
    #popular-section .bullet-point ul li {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    #popular-section h1 {
        padding-right: 84px;
        line-height: 60px;
    }

    #popular-bullet {
        margin-bottom: 32px;
    }




}